{% extends "navbar.html" %}
{% block title %}Add Products{% endblock title %}
{% block body%}



<div class="container mt-5">
  <!-- Alert Box -->
  {% if messages %}
  {% for message in messages %}
    <div class="alert alert-{{ message.tags }} alert-dismissible fade show my-0" role="alert">
      <strong>{{ message }}</strong> 
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  {% endfor %}
  {% endif %}
  <!-- End Alert Box -->

  <form action="" method="post" class="bg-white p-4 shadow rounded">
    {% csrf_token %}

    <input type="hidden" class="form-control" name="old_username" value="{{change_passw.username}}">
    <br>

    <div class="row g-3">
      <div class="col">
        <h4>Enter the Old password</h4>
        <input type="text" class="form-control" placeholder="Old password" name="old_passw">
      </div>
      <div class="col">
        <h4>Enter the New password</h4>
        <input type="password" class="form-control" placeholder="New Password" aria-label="Last name" name="new_passw">
      </div>
    </div>

    <br>

    <div class="mb-3">
      <label class="form-label">Confirm Password</label>
      <input type="password" class="form-control" placeholder="Confirm Password" name="con_passw">
    </div>

    <div class="mb-3">
      <div class="input-group">
        <span class="input-group-text">Gmail</span>
        <input type="text" class="form-control" placeholder="Enter the Gmail here" name="gmail" required>
      </div>
    </div>

    <input type="submit" class="btn btn-primary" name="chp_submit" id="chp_submit" value="Submit">

    <br>
    <a href="/allibaba/login">Go back</a>

  </form>
</div>

{% endblock body%}
