
{% extends "navbar.html" %}
{% block title %}Add Products{% endblock title %}
{% block body%}
<div class="container mt-4">
    <form action="" method="post">

        {% csrf_token %}
        
        <div class="mb-3">
            <label for="p_name" class="form-label">Product Name</label>
            <input type="text" class="form-control" name="p_name" id="p_name" value="{{ editprodlistbycat.product_name }}">
        </div>

        <div class="mb-3">
            <label for="p_desc" class="form-label">Product Description</label>
            <textarea class="form-control" name="p_desc" id="p_desc" rows="3">{{ editprodlistbycat.product_description }}</textarea>
        </div>

        <div class="mb-3">
            <label for="price" class="form-label">Price</label>
            <input type="text" class="form-control" name="price" id="price" value="{{ editprodlistbycat.product_price }}">
        </div>

        <button type="submit" class="btn btn-primary" name="submit" id="submit">Update</button>
    </form>
</div>

{% endblock body%}
