{% extends "navbar.html" %}
{% block title %}Add Products{% endblock title %}
{% block body%}

<body class="bg-light">

  <div class="container mt-5">
    <form action="" method="post" class="bg-white p-4 shadow rounded">
      {% csrf_token %}
      <div class="mb-3">
        <label for="username" class="form-label">Username</label>
        <input type="text" class="form-control" id="username" name="username">
      </div>
      <button type="submit" class="btn btn-primary">Save</button>
    </form>
  </div>

</body>

{% endblock body%}
