{% extends "navbar.html" %}

{% block body %}



{% if prod_list %}
    <table class="table table-success table-striped">
        <thead>
            <tr>
                <th>sl no</th>
                <th>Name</th>
                <th>Description</th>
                <th>Price</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for data in prod_list %}
                <tr>
                    <td>{{ data.product_id }}</td>
                    <td>{{ data.product_name }}</td>
                    <td>{{ data.product_description }}</td>
                    <td>{{ data.product_price }}</td>
                    <td>
                        <a class="btn btn-primary" href="{% url 'edit-order' data.product_id %}">edit</a>
                        <a class="btn btn-primary" href="{% url 'deleteprodlistbycat' data.product_id %}">Delete</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>No products found</p>
{% endif %}

{% endblock body %}
