{% comment %} {% extends "navbar.html" %} {% endcomment %}
<html>
    <head>

    </head>
    <nav>

    </nav>
    <body>
        <div>
            {% if name %}
            <h4>{{ name }} DJANGO MASTER 😁😁, roll number = {{roll_no}}</h4>
            {% else %}
            unknown person
            {%endif%}
            {%load static%}
            <img src="{% static 'ss1.png'%}" width="400"><br>
            <img src="{% static 'images/ss2.png'%}" width="400">
        </div>
    </body>
    <footer>
    </footer>
</html>